trips_per_lsoa21_by_mode_2007.Rds
trips_per_lsoa21_by_mode_2008.Rds
trips_per_lsoa21_by_mode_2009.Rds
trips_per_lsoa21_by_mode_2010.Rds
trips_per_lsoa21_by_mode_2024.Rds
trips_per_lsoa21_by_mode_newbands_2024.Rds
trips_per_lsoa21_by_mode_newbands_2010.Rds
